

  <!DOCTYPE html>
  <html>
  <head>
    <title>Gazooyr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <nav class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <%= link_to('Gazooyr', root_path, class: "navbar-brand") %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to('Stream', gazooies_path) %></li>
          <li><a href="#">Actualites</a></li>
          <li><a href="#">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <%- if user_signed_in? %>
              <li class="dropdown">
                <a href="#" id="account-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Moi <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to('Mon Compte', edit_user_registration_path) %></li>
                </ul>
              <li><%= link_to 'Se déconnecté', destroy_user_session_path, :method => :delete, id:"logout" %></li>
              </li>

          <% else %>
              <li><%= link_to('Inscription', new_user_registration_path) %></li>
              <li><%= link_to('Connexion', new_user_session_path)  %>  </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">


    <%= yield %>

  </div>
  </body>
</html>
